<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Aktivitetsplan og dialog"/>
    <meta name="author" content="orkivar-pdfgen"/>
    <meta name="subject" content="Aktivitetsplan"/>
    <style>
        @page {
            margin: 1cm;
        }
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }
    </style>
    <title>
        Aktivitetsplan</title>
</head>
<body>
<h1>Navn: {{ navn }}</h1>
<h2>Fødselsnummer: {{ fnr }}</h2>
<h3>Journalføringstidspunkt: {{ journalfoeringstidspunkt }}</h3>
</body>
</html>