<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Aktivitetsplan og dialog"/>
    <meta name="author" content="orkivar-pdfgen"/>
    <meta name="subject" content="Aktivitetsplan"/>
    <style>
        @page {
            margin: 1cm;
        }

        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            box-sizing: border-box;
        }

        .aktivitet {
            border: 1px solid black;
            padding: 1.5rem;
            margin-bottom: 1rem;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
        }

        li {
            list-style: none;
        }

        h2 {
            font-weight: bolder;
        }

        .type {
            text-transform: uppercase;
        }

        .detaljer {

        }

        .detalj {
            margin-bottom: 1rem;
        }
        .detaljtittel {
            font-weight: bold;
        }

        .HEL_LINJE {
            width: 100%;
        }

        .HALV_LINJE {
            width: 45%;
        }

        .PARAGRAF {
            width: 100%;
        }
        .LENKE {
            color: blue;
            text-decoration: underline;
        }
    </style>
    <title>
        Aktivitetsplan</title>
</head>
<body>
<h1>Navn: {{ navn }}</h1>
<h2>Fødselsnummer: {{ fnr }}</h2>
<h3>Journalføringstidspunkt: {{ journalfoeringstidspunkt }}</h3>

<ul>
    <!--        <h3>Planlagte aktiviteter</h3>-->
    {{#each aktiviteter.Planlagt}}
        {{> dab/aktivitetPartial this}}
    {{/each}}
    <!-- TODO: legg til flere for resten av statusene-->
    <!--    <h3>Avbrutte aktiviteter</h3>-->
    {{#each aktiviteter.Avbrutt}}
        {{> dab/aktivitetPartial this}}
    {{/each}}
</ul>
</body>
</html>