<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Aktivitetsplan og dialog"/>
    <meta name="author" content="orkivar-pdfgen"/>
    <meta name="subject" content="Aktivitetsplan"/>
    <style>
        @page {
            margin-right: 95px;
            margin-left: 95px;
            margin-top: 77px;
            margin-bottom: 77px;
        }

        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            box-sizing: border-box;
            color: #262626;
        }

        .aktivitet, .dialogtråd {
            border: 1px solid black;
            padding: 1.5rem;
            margin-bottom: 1rem;
            border-radius: 4px;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
        }

        li {
            list-style: none;
        }

        h2 {
            font-weight: bolder;
        }
        h3 {
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px; /* 125% */
            letter-spacing: -0.256px;
            margin-bottom: 8px;
        }
        h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
            letter-spacing: -0.02px;
            display: inline-block;
        }

        .type {
            text-transform: uppercase;
            letter-spacing: 0.56px;
            font-size: 14px;
            line-height: 20px;
        }
        .tittel {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.048px;
        }
        .detalj {
            margin-bottom: 16px;
        }
        .detaljtekst {
            letter-spacing: 0.032px;
            line-height: 20px;
            font-size: 16px;
        }
        .detaljtittel {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.03px;
            font-weight: 600;
        }

        .HEL_LINJE {
            width: 100%;
        }

        .HALV_LINJE {
            display: inline-block;
            vertical-align: top;     /* Vertically align the inline-block elements */
            height:100%;
            line-height: 100%;
            width: 45%;
        }

        .PARAGRAF {
            width: 100%;
        }
        .LENKE {
            color: blue;
            text-decoration: underline;
        }
        .meldinger {
            border-top: 1px solid gray;
            margin-bottom: 1.5rem;
        }
        .melding {
            margin-top: 1.5rem;
        }
        .header-ikon {
            width: 20%;
            position: relative;
            left: 500px;
        }
        .etiketter {
            width: 100%;
            margin-bottom: 1rem;
        }
        .etikett {
            font-weight: 400;
            display: inline-block;
            min-width: 25%;
            padding: 6px;
        }
        .etikett-AVTALT {
            border: 1px solid rgb(0, 91, 130);
            background-color: rgb(0, 91, 130);
            color: white;
        }
        .etikett-POSITIVE {
            border: 1px solid rgb(6, 137, 58);
            background-color: rgb(204, 241, 214);
        }
        .etikett-NEUTRAL {
            border: 1px solid rgb(54, 141, 168);
            background-color: rgb(216, 249, 255);
        }
        .etikett-NEGATIVE {
            border: 1px solid #949292;
            background-color: #cecece;
        }
        .dialogOverskrift {
            width: 100%;
            margin-bottom: 1rem;
        }
        .dialogIkon {
            display: inline-block;
            padding-right: 2px;
        }
        .dialogTittel {
            display: inline-block;
        }
    </style>
    <title>
        Aktivitetsplan</title>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" width="89" height="57" viewBox="0 0 89 57" fill="none" class="header-ikon">
    <g clip-path="url(#clip0_7385_12855)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M86.4818 26.4942L80.891 40.8944H82.4667L88.059 26.4942H86.4818ZM69.8946 40.8944H72.8621L78.4545 26.4942H75.4869L69.8946 40.8944ZM0 40.8944H5.44983L11.1066 26.4942H5.66431L0 40.8944ZM65.0965 26.9618L59.8049 40.4161C59.6197 40.8944 59.1479 40.8944 59.1479 40.8944H54.1271C54.1271 40.8944 53.6569 40.8944 53.4701 40.4161L48.6997 28.252V35.6897H50.2154C50.2154 35.6897 50.6601 35.6897 50.5941 36.0494H50.5919C50.5859 36.0825 48.885 40.4161 48.885 40.4161C48.6975 40.8944 48.2288 40.8944 48.2288 40.8944H43.9796C43.7741 40.8944 43.6024 40.7226 43.6024 40.507V36.3283L41.9953 40.4161C41.8078 40.8944 41.3353 40.8944 41.3353 40.8944H40.7871C38.2778 40.8944 36.2582 39.8384 35.0321 38.0729L34.1089 40.4161C33.9229 40.8944 33.4527 40.8944 33.4527 40.8944H29.2897C29.082 40.8944 28.9133 40.7226 28.9133 40.507V35.0434C28.9133 33.4744 28.8563 32.9422 28.6268 32.5C28.5143 32.2928 28.3096 32.1157 28.0823 32.0271C27.7036 31.8461 27.4981 31.8191 26.5262 31.8191H24.8336V40.507C24.8336 40.7226 24.6641 40.8944 24.4586 40.8944H20.1157C19.9042 40.8944 19.7392 40.7226 19.7392 40.507V31.8191H18.0556C17.6461 31.8191 17.8254 31.3639 17.8254 31.3639L19.6162 26.8031C19.7392 26.4942 20.0775 26.4942 20.0775 26.4942H24.4586C24.6641 26.4942 24.8336 26.6714 24.8336 26.8809V31.1867L26.557 26.8031C26.6777 26.4942 27.0197 26.4942 27.0197 26.4942H28.9133C30.5256 26.4942 31.2763 26.6721 32.111 27.1744C32.5175 27.4416 32.8895 27.7667 33.1474 28.1518C33.7092 28.9367 33.8824 29.7032 33.9191 31.8437C34.5723 28.6171 36.6707 26.4942 39.8092 26.4942C41.2101 26.4942 43.6024 27.4817 43.6024 29.791V26.8809C43.6024 26.6714 43.7741 26.4942 43.9796 26.4942H53.4506C53.4506 26.4942 53.7926 26.4942 53.9133 26.8031L56.6364 35.3739L59.3647 26.8031C59.4847 26.4942 59.8236 26.4942 59.8236 26.4942H64.7485C64.7485 26.4942 65.2802 26.4942 65.0965 26.9618ZM41.1103 0C25.8093 0 13.4007 12.7457 13.4007 28.4653C13.4007 44.1835 25.8093 56.9268 41.1103 56.9268C56.4174 56.9268 68.8274 44.1835 68.8274 28.4653C68.8274 12.7457 56.4174 0 41.1103 0ZM41.5453 31.4601H40.7474C39.6119 31.4601 38.688 32.4091 38.688 33.5769C38.688 34.7438 39.6119 35.6897 40.7474 35.6897H43.6024V33.5769C43.6024 32.4091 42.6792 31.4601 41.5453 31.4601Z" fill="#C30000"/>
    </g>
    <defs>
        <clipPath id="clip0_7385_12855">
            <rect width="89" height="57" fill="white"/>
        </clipPath>
    </defs>
</svg>
<table>
    <tr>{{ navn }}</tr>
    <tr>Fn.nr: {{ fnr }}</tr>
</table>

<p class="margin-top:4px ">Dette dokumentet viser et øyeblikksbilde av hvordan aktivitetsplanen og dialogen var {{ journalfoeringstidspunkt }}.</p>

{{#if aktiviteter.Forslag}}<h3>Foreslåtte aktiviteter</h3>
{{#each aktiviteter.Forslag}}
    <ul>
        {{> dab/aktivitetPartial this}}
    </ul>
{{/each}}
{{/if}}

{{#if aktiviteter.Planlagt}}<h3>Planlagte aktiviteter</h3>
{{#each aktiviteter.Planlagt}}
    <ul>
        {{> dab/aktivitetPartial this}}
    </ul>
{{/each}}
{{/if}}

{{#if aktiviteter.Gjennomføres}}<h3>Aktiviteter som gjennomføres nå</h3>
{{#each aktiviteter.Gjennomføres}}
    <ul>
        {{> dab/aktivitetPartial this}}
    </ul>
{{/each}}
{{/if}}

{{#if aktiviteter.Fullført}}<h3>Fullførte aktiviteter</h3>
{{#each aktiviteter.Fullført}}
    <ul>
        {{> dab/aktivitetPartial this}}
    </ul>
{{/each}}
{{/if}}

{{#if aktiviteter.Avbrutt}}<h3>Avbrutte aktiviteter</h3>
{{#each aktiviteter.Avbrutt}}
    <ul>
        {{> dab/aktivitetPartial this}}
    </ul>
{{/each}}
{{/if}}

<h4>Dialoger</h4>
{{#each dialogtråder}}
    <div class="dialogtråd">
        <h4>{{this.overskrift}}</h4>
            {{> dab/meldingerPartial this}}
    </div>
{{/each}}
</body>
</html>
