{{#each this.historikk.endringer}}
    <div class="historikkHendelse">
        <div class="melding-avsender">{{this.formattertTidspunkt}}</div>
        <div>{{ breaklines this.beskrivelseForVeileder}}</div>
    </div>
{{/each}}
